<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= student.name %>
    </title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
</head>

<body>
<div class="container">
    <h1 class="page-header">学生信息<small><%= student.name %></small></h1>
    <p><a href="/list">返回</a></p>
    <p>编号:
        <%= student.id %>
    </p>
    <p>姓名:
        <%= student.name %>
    </p>
    <p>年龄:
        <%= student.age %>
    </p>
    <p>性别:
        <%= student.gender ? '男': '女' %>
    </p>
    <p>描述:
        <%= student.description %>
    </p>
</div>
</body>

</html>